node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
.vscode
.idea
uploads/*
!uploads/.gitkeep
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal
Dockerfile*
docker-compose*
