# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*
!.env.example

# Database
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log

# System & IDE
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
